.main-navbar {
        box-shadow: 0 4px 6px #0000001a;

  position: relative;
  z-index: 1000; 
}


.top-left{
  padding-left: 50px;
}

.top-left img{
  height: 110px;
  /* padding: 20px; */
  padding: 10px;
}

.top-bar-nav {
  padding: 7px 10px;
  padding-right: 30px;
      background-color: #f7f7f7;
}


.top-search-box {
  position: relative;
  padding-left: 15px;
}

.top-search-box input {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 6px;
    padding: 10px 12px;
    background: rgb(255, 255, 255);
    width: 80%;
  
}

.search-icon {
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translateY(-50%);
}


.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.phone-text{

  padding-left: 10px;

}

.phone-text small {
  font-size: 12px;
  color: #777;
}

.phone-text .number {
  font-weight: 600;
  color: #c2202d;
}


.login-btn {
  border: 1px solid #c2202d;
  border-radius: 8px;
  padding: 6px 14px;
  background: white;
  color: #c2202d;
  gap: 5px;
}




.bottom-navbar {
  
  padding: 10px 20px;
}

/* Menu */
.menu-list {
  list-style: none;
  gap: 15px;
  padding-left: 0;
}

.menu-nav{
  border: none;
  padding: 0;
  width: 110px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #333;;
}

.menu-list li {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-list li span {
  font-size: 12px;
}


.home-btn {
  border: 1px solid #c2202d;
  background: white;
  color: #c2202d;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.book-btn {
  background: #c2202d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
}